body {
	font-family: georgia;
	background-color: #CCCCCC;
	color: #232323;
}
img {
	width: 1260px;
}
h1 {
	padding-top: 25px;
	padding-left: 400px;
	padding-bottom: 30px;
	font-size: 42px;
	color: #175E6A;
}
.asd {
	padding-left: 375px;
}
.dsa {
	height: 193.2px;
	width: 345px;
	float: left;
}
span {
	margin: 0px 99px;
	background-color: #F0DC35;
	font-weight: bold;
	padding: 5px 9px;
	border-radius: 5px;
}
a {
	color: #175E6A;
	text-decoration: none;
} 
.sad {
	float: left;
}
.das {
	width: 750px;
	height: 505px;
	padding-left: 150px; 
}
.scr {
	width: 335px;
	height: 335px;
	float: left;
}
li {
	padding-bottom: 10px; 
	padding-left: 25px;
	list-style-type: none;
}
.sss {
	width: 325px;
	height: 500px;
	float: left;
}
div {
	font-size: 20px;
}
footer {
	float: right;
	font-size: 12px;
	padding-top: 50px;
}