body {
	font-family: georgia;
	background-color: #CCCCCC;
	color: #232323;
}
img {
	width: 1260px;
}
h1 {
	padding-left: 250px;
	padding-bottom: 30px;
}
.1 {
	float: right;
	width: 100px;
	height: 300px;
}
.2 {
	float: left;
	width: 250px;
	height: 300px;
}